/* @font-face {
    font-family: "mattisse";
    src: url("fonts/mattisse/Mattisse Personal Use.ttf");
} */
@media (min-width: 992px) {
    .navbar-brand.custom {
        height: 35px;
    }
}
@media (min-width: 576px) {
    .navbar-brand.custom {
        height: 28px;
    }
}

@media (max-width: 575.98px) {
    .navbar-brand.custom {
        height: 28px;
    }
}


.mainmenu-area .bg-light.custom {
    background-color: #103C60 !important;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.navbar-nav {
    margin-right: 0;
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link.custom {
    padding: 29px;
    color: #D1E0EB;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

/* Old menu */

.navbar-nav>li>a {
    padding: 30px;
    color: #D1E0EB;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav>li {
    padding-left: 25px;
}

.mainmenu-area .custom.navbar>li>a:hover {
    background-color:  #0C3C60;
}

.video video {
    width: 100%;
    position: fixed;
    z-index: -1;
}

.video img {
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translateX(-50%);
}

.video-area .vision-content{
    height: 139px;
    background-color: #C2C4C7;
    width: 100%;
    position: absolute;
    bottom: 0px;
    opacity: 0.6;
    padding-top: 5px;
    text-align: center;
}

.video-area {
    position: relative;
    overflow: hidden;
}

.vision-content h6 {
    font-size: 28px;
    color: #154465;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
}

.vision-content h3 {
    font-size: 58px;
    color: #103C60;
    font-family: 'Roboto', sans-serif;
    margin-top: -7px;
}

@media (max-width: 575.98px) {
    .video-area {
        height: 175px;
    }

    .video img {
        width: 118px;
    }

    .video-area .vision-content {
        height: 51px;
    }

    .vision-content h6 {
        padding-top: 0px;
        font-size: 15px;
    }

    .vision-content h3 {
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    .video-area {
        height: 311px;
    }

    .video img {
        width: 242px;
    }

    .video-area .vision-content {
        height: 88px;
    }

    .vision-content h6 {
        padding-top: 0px;
        font-size: 23px;
    }

    .vision-content h3 {
        font-size: 33px;
    }
}

@media (min-width: 768px) {
    .video-area {
        height: 413px;
    }

    .video img {
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        width: 242px;
    }
}

@media (min-width: 992px) {
    .video-area {
        height: 546px;
    }
}

@media (min-width: 1200px) {
    .video-area {
        height: 659px;
    }
}

.service-area {
    height: 517px;
    background-color: #D8E1EB;
}

.header-text {
    color: #39729B;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 49px
}

.service-area .service-col {
    background-color: #0C3C60;
    height: 280px;
}

.service-area .service-col h1 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 31px 0;
}

.service-area .service-col p {
    color: white;
    font-size: 16px;
    padding: 0px 20px;
}

.news-area {
    height: 400px;
    background-color: #FFFFFF;
}

.news-area .news span{
    color: #39729B;
    padding: 0 200px;
    font-size: 18px;
}

.news-area .news p{
    padding-top: 20px;
}

.about-area {
    height: 790px;
    background-color: #D1E0EB;
}

.about-area .about-col {
    font-size: 16px;
    color: #D1E0EB;
}

.about-area .about-col tr{
    color: #0C3C60;
}

.about-col .th-custom {
    width: 120px;
}

.about-col .ul-custom {
    padding-left: 15px;
}

.access-area {
    height: 563px;
    background-color: #FFFFFF;
}

.access-area .map img{
    width: 100%;
    height: 300px;
    padding-bottom: 20px;
}

.hidden-class:before {
    content: "";
    display: block;
    clear: both;
}

.access-area span {
    padding-top: 10px;
    color: #103C60;
}

.contact-area {
    height: 600px;
    background-color: #0C3C60;
    color: #0C3C60;
}

.contact-area input::placeholder, .contact-area textarea::placeholder {
    color: #0C3C60;
}

.contact-area .custom {
    color: white;
    background-color: #39729B;
    float: right;
}

.footer-area {
    height: 188px;
    background-color: #fff;
}

.footer-content img{
    width: 250px;
    height: 40px;
    margin-top: 25px;
}

.footer-content a {
    margin-left: 8px;
}

.fa.fa-facebook-square.custom, .fa.fa-youtube.custom{
    font-size: 27px;
}

.copyright-text {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.footer-content .right-content .privacy {
    color: #154465;
    float: right;
    padding-top: 20px;
}

.footer-content .footer-text {
    padding-top: 15px;
}

.footer-content .right-content .social {
    float: right;
    margin-left: 10px;
    color: #154465;
}

.footer-content {
    font-family: 'Roboto', sans-serif;
}

#exampleModalLong {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#exampleModalLong h3, #exampleModalLong h4 {
    font-size: 18px;
    font-weight: bold;
}

#exampleModalLong span {
    float: right;
}
