/* @font-face {
    font-family: "mattisse";
    src: url("fonts/mattisse/Mattisse Personal Use.ttf");
} */

.navbar {
    float: right;
}

.mainmenu-area {
    height: 90px;
    background-color: #103C60;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999
}

.navbar-nav>li>a {
    padding: 30px;
    color: #D1E0EB;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav>li {
    padding-left: 25px;
}

.mainmenu-area .custom.navbar>li>a:hover {
    background-color:  #0C3C60;
}

.navbar-brand.custom {
    height: 35px;
    margin-top: 28px;
}

.video-area {
    position: relative;
    overflow: hidden;
    height: 700px;
}

.video video {
    width: 100%;
    position: fixed;
    z-index: -1;
}

.video img {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
}

.video-area .vision-content{
    height: 139px;
    background-color: #C2C4C7;
    width: 100%;
    position: absolute;
    bottom: 0px;
    opacity: 0.6;
    padding-top: 5px;
    text-align: center;
}

.vision-content h6 {
    font-size: 28px;
    color: #154465;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
}

.vision-content h3 {
    font-size: 58px;
    color: #103C60;
    font-family: 'Roboto', sans-serif;
    margin-top: -7px;
}

.service-area {
    height: 517px;
    background-color: #D8E1EB;
}

.header-text {
    color: #39729B;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 49px
}

.service-area .service-col {
    background-color: #0C3C60;
    height: 280px;
}

.service-area .service-col h1 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 31px 0;
}

.service-area .service-col p {
    color: white;
    font-size: 16px;
    padding: 0px 20px;
}

.news-area {
    height: 400px;
    background-color: #FFFFFF;
}

.news-area .news span{
    color: #39729B;
    padding: 0 200px;
    font-size: 18px;
}

.news-area .news p{
    padding-top: 20px;
}

.about-area {
    height: 790px;
    background-color: #D1E0EB;
}

.about-area .about-col {
    font-size: 16px;
    color: #D1E0EB;
}

.about-area .about-col tr{
    color: #0C3C60;
}

.about-col .th-custom {
    width: 120px;
}

.about-col .ul-custom {
    padding-left: 15px;
}

.access-area {
    height: 563px;
    background-color: #FFFFFF;
}

.access-area .map img{
    width: 100%;
    height: 300px;
    padding-bottom: 20px;
}

.hidden-class:before {
    content: "";
    display: block;
    clear: both;
}

.access-area span {
    padding-top: 10px;
    color: #103C60;
}

.contact-area {
    height: 600px;
    background-color: #0C3C60;
    color: #0C3C60;
}

.contact-area input::placeholder, .contact-area textarea::placeholder {
    color: #0C3C60;
}

.contact-area .custom {
    color: white;
    background-color: #39729B;
    float: right;
}

.footer-area {
    height: 188px;
    background-color: #fff;
}

.footer-content img{
    width: 250px;
    height: 40px;
    margin-top: 25px;
}

.footer-content a {
    margin-left: 8px;
}

.fa.fa-facebook-square.custom, .fa.fa-youtube.custom{
    font-size: 27px;
}

.copyright-text {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.footer-content .right-content .privacy {
    color: #154465;
    float: right;
    padding-top: 20px;
}

.footer-content .footer-text {
    padding-top: 15px;
}

.footer-content .right-content .social {
    float: right;
    margin-left: 10px;
    color: #154465;
}

.footer-content {
    font-family: 'Roboto', sans-serif;
}